In [1]:
import pandas as pd

In [2]:
csv_path = "Nagano.csv"

In [6]:
df = pd.read_csv(csv_path)

In [4]:
# Total rows
print("Total rows:", len(df))

Total rows: 292535239

In [36]:
# Row counts per Target_label
print("Rows per Target_label:")
print(df["Target_label"].value_counts(normalize=True)*100)

Rows per Target_label:
Target_label
late_S     32.280354
early_S    24.071272
mid_S      24.016368
G1         19.632006
Name: proportion, dtype: float64

In [11]:
# Row counts per Cell_name
print("Rows per Cell_name:")
print(df["Cell_name"].value_counts().head(10))  # show top 10

Rows per Cell_name:
Cell_name
G1_40         608140
late_S_184    586930
late_S_221    586882
mid_S_171     560421
late_S_101    548449
late_S_277    546444
late_S_137    543309
late_S_234    542589
late_S_213    532971
late_S_113    531115
Name: count, dtype: int64

In [10]:
# Row counts per Chr_name
print("Rows per Chr_name:")
print(df["Chr_name"].value_counts())

Rows per Chr_name:
Chr_name
chr2     21888343
chr1     21804981
chr5     17313148
chr3     17143905
chr4     17124064
chr6     16569386
chr11    16065966
chr8     15830165
chr7     15378191
chr9     15087948
chr10    14862704
chrX     14401190
chr12    13164526
chr13    13079802
chr14    12575276
chr15    11827485
chr16    11004760
chr17    10188434
chr18    10118543
chr19     7106422
Name: count, dtype: int64

In [16]:
# Summary table by label + chromosome
print("Rows per Target_label + Chr_name:")
print(df.groupby(["Target_label", "Chr_name"]).size().unstack(fill_value=0))

Rows per Target_label + Chr_name:
Chr_name         chr1    chr10    chr11    chr12    chr13    chr14    chr15  \
Target_label
G1            4374973  2936143  3017599  2616920  2564672  2487174  2329429
early_S       5172479  3544360  4031959  3170111  3045172  3001336  2870712
late_S        7073364  4802520  5027731  4233037  4249493  4099531  3805091
mid_S         5184165  3579681  3988677  3144458  3220465  2987235  2822253

Chr_name        chr16    chr17    chr18    chr19     chr2     chr3     chr4  \
Target_label
G1            2205266  1953264  2028159  1358093  4262419  3493095  3309854
early_S       2667796  2507229  2383917  1730464  5327268  4059766  4212153
late_S        3548419  3245340  3286900  2265583  6993849  5617997  5452976
mid_S         2583279  2482601  2419567  1752282  5304807  3973047  4149081

Chr_name         chr5     chr6     chr7     chr8     chr9     chrX
Target_label
G1            3391507  3258639  2951258  3100342  2924276  2867454
early_S       4206689  3970641  3724272  3733603  3612964  3444062
late_S        5542621  5357172  4929563  5270876  4859752  4769595
mid_S         4172331  3982934  3773098  3725344  3690956  3320079

In [17]:
# Overview of columns
print(df[["Target_label", "Cell_name", "Chr_name"]].describe())

       Target_label  Cell_name   Chr_name
count     292535239  292535239  292535239
unique            4       1171         20
top          late_S      G1_40       chr2
freq       94431410     608140   21888343

In [21]:
# Overview of numeric columns
print(df[["Bin_1", "Bin_2", "Count"]].describe())

              Bin_1         Bin_2         Count
count  2.925352e+08  2.925352e+08  2.925352e+08
mean   7.172581e+01  7.422596e+01  1.110306e+00
std    4.317731e+01  4.335973e+01  3.515687e-01
min    0.000000e+00  3.000000e+00  1.000000e+00
25%    3.600000e+01  3.800000e+01  1.000000e+00
50%    6.900000e+01  7.200000e+01  1.000000e+00
75%    1.030000e+02  1.060000e+02  1.000000e+00
max    1.970000e+02  1.970000e+02  2.700000e+01

In [18]:
# Overall minimum and maximum
print("Value ranges:")
for col in ["Bin_1", "Bin_2", "Count"]:
    print(f"{col}: min={df[col].min()}, max={df[col].max()}")

Value ranges:
Bin_1: min=0, max=197
Bin_2: min=3, max=197
Count: min=1, max=27

In [20]:
# Minimum and maximum across all cells (of all types) for each chrom
print("Ranges by Chr_name:")
print(df.groupby("Chr_name")[["Bin_1", "Bin_2", "Count"]].agg(["min", "max"]))

Ranges by Chr_name:
         Bin_1      Bin_2      Count
           min  max   min  max   min max
Chr_name
chr1         3  197     3  197     1   8
chr10        3  129     3  129     1   9
chr11        3  121     3  121     1  12
chr12        3  121     3  121     1   8
chr13        3  120     3  120     1   9
chr14        3  125     4  125     1   9
chr15        3  103     3  103     1  27
chr16        3   98     3   98     1   8
chr17        0   95     3   95     1   9
chr18        3   90     3   90     1  10
chr19        3   61     3   61     1  10
chr2         3  181     3  181     1   8
chr3         3  159     3  159     1   9
chr4         3  155     3  155     1   9
chr5         3  152     3  152     1   9
chr6         3  149     3  149     1   8
chr7         3  152     3  152     1   8
chr8         3  131     3  131     1   8
chr9         3  124     3  124     1   8
chrX         3  166     3  166     1   8

In [22]:
# Count NaN values per column
print("Missing values per column:")
print(df.isna().sum())

Missing values per column:
Target_label    0
Cell_name       0
Chr_name        0
Bin_1           0
Bin_2           0
Count           0
dtype: int64

In [37]:
# Check full duplicate rows
dup_all = df.duplicated().sum()
print(f"Duplicate full rows: {(dup_all/len(df))*100} %")

Duplicate full rows: 90.22025821648106 %

In [28]:
# Check duplicates based only on the contact identifiers
dup_contacts = df.duplicated(
    subset=["Target_label", "Cell_name", "Chr_name", "Bin_1", "Bin_2"]
).sum()
print(f"Duplicate contact entries (ignoring Count): {dup_contacts}")

# Should be same as:
# Duplicates based only on the contact identifiers
dup_contacts = df.duplicated(
    subset=["Cell_name", "Chr_name", "Bin_1", "Bin_2"]
).sum()
print(f"Duplicate contact entries (ignoring Count): {dup_contacts}")

Duplicate contact entries (ignoring Count): 272320343
Duplicate contact entries (ignoring Count): 272320343

In [29]:
# Get a sample of duplicate rows if any
if dup_contacts > 0:
    print("Sample duplicate contacts:")
    print(df[df.duplicated(
        subset=["Cell_name", "Chr_name", "Bin_1", "Bin_2"],
        keep=False
    )].head())

Sample duplicate contacts:
  Target_label   Cell_name Chr_name  Bin_1  Bin_2  Count
0       late_S  late_S_273     chr1     95     95      1
1       late_S  late_S_273     chr1     14     14      1
2       late_S  late_S_273     chr1     45     84      1
3       late_S  late_S_273     chr1     52     53      1
4       late_S  late_S_273     chr1    159    159      1

In [30]:
keys = ["Cell_name", "Chr_name", "Bin_1", "Bin_2"]

g = (
    df.groupby(keys)
      .agg(n_occurrences=("Count", "size"),  # how many rows for this key
           sum_count=("Count", "sum"),
           mean_count=("Count", "mean"))
      .reset_index()
)

dups_only = g[g["n_occurrences"] > 1].sort_values(["Cell_name","Chr_name","n_occurrences"], ascending=[True,True,False])
print(dups_only.head(20))

    Cell_name Chr_name  Bin_1  Bin_2  n_occurrences  sum_count  mean_count
80       G1_1     chr1     19     19             32         36    1.125000
428      G1_1     chr1     90     90             32         43    1.343750
260      G1_1     chr1     61     61             28         31    1.107143
762      G1_1     chr1    161    161             27         32    1.185185
844      G1_1     chr1    184    184             27         40    1.481481
227      G1_1     chr1     54     54             26         30    1.153846
265      G1_1     chr1     63     63             26         37    1.423077
426      G1_1     chr1     89     89             26         30    1.153846
252      G1_1     chr1     58     58             25         34    1.360000
339      G1_1     chr1     74     74             25         26    1.040000
351      G1_1     chr1     76     76             25         27    1.080000
574      G1_1     chr1    121    121             25         35    1.400000
359      G1_1     chr1     77     77             24         34    1.416667
515      G1_1     chr1    106    106             24         28    1.166667
520      G1_1     chr1    107    107             24         33    1.375000
547      G1_1     chr1    115    115             24         24    1.000000
860      G1_1     chr1    188    188             24         30    1.250000
99       G1_1     chr1     23     23             23         26    1.130435
263      G1_1     chr1     62     62             23         26    1.130435
877      G1_1     chr1    194    194             23         27    1.173913

In [32]:
print(df[
      (
          (df["Cell_name"] == "late_S_273") &
          (df["Chr_name"] == "chr1") &
          (df["Bin_1"] == 45) &
          (df["Bin_2"] == 84)
      )
     ])

     Target_label   Cell_name Chr_name  Bin_1  Bin_2  Count
2          late_S  late_S_273     chr1     45     84      1
4854       late_S  late_S_273     chr1     45     84      1

In [33]:
print(df[
      (
          (df["Cell_name"] == "G1_1") &
          (df["Chr_name"] == "chr1") &
          (df["Bin_1"] == 184) &
          (df["Bin_2"] == 184)
      )
     ])

          Target_label Cell_name Chr_name  Bin_1  Bin_2  Count
115576152           G1      G1_1     chr1    184    184      1
115576223           G1      G1_1     chr1    184    184      1
115576226           G1      G1_1     chr1    184    184      1
115576396           G1      G1_1     chr1    184    184      2
115576428           G1      G1_1     chr1    184    184      1
115576720           G1      G1_1     chr1    184    184      1
115577217           G1      G1_1     chr1    184    184      1
115577362           G1      G1_1     chr1    184    184      1
115577504           G1      G1_1     chr1    184    184      1
115577697           G1      G1_1     chr1    184    184      1
115578243           G1      G1_1     chr1    184    184      1
115578443           G1      G1_1     chr1    184    184      5
115578622           G1      G1_1     chr1    184    184      1
115578681           G1      G1_1     chr1    184    184      1
115578744           G1      G1_1     chr1    184    184      1
115578852           G1      G1_1     chr1    184    184      1
115578945           G1      G1_1     chr1    184    184      2
115578988           G1      G1_1     chr1    184    184      1
115579117           G1      G1_1     chr1    184    184      3
115579139           G1      G1_1     chr1    184    184      2
115579317           G1      G1_1     chr1    184    184      1
115579382           G1      G1_1     chr1    184    184      4
115579395           G1      G1_1     chr1    184    184      2
115579451           G1      G1_1     chr1    184    184      1
115579583           G1      G1_1     chr1    184    184      1
115579676           G1      G1_1     chr1    184    184      1
115579828           G1      G1_1     chr1    184    184      1

In [44]:
# Collapse duplicates by summing Count
keys = ["Target_label", "Cell_name", "Chr_name", "Bin_1", "Bin_2"]

df_agg = (
    df.groupby(keys, as_index=False, sort=False)
      .agg(Count=("Count", "sum"))
)

In [45]:
print("After collapsing duplicates:", len(df_agg))

After collapsing duplicates: 20214896

In [46]:
print(df_agg)

         Target_label   Cell_name Chr_name  Bin_1  Bin_2  Count
0              late_S  late_S_273     chr1     95     95     72
1              late_S  late_S_273     chr1     14     14     42
2              late_S  late_S_273     chr1     45     84      2
3              late_S  late_S_273     chr1     52     53      6
4              late_S  late_S_273     chr1    159    159     53
...               ...         ...      ...    ...    ...    ...
20214891        mid_S    mid_S_12     chr8     77     79      1
20214892        mid_S    mid_S_12     chr8     75    100      1
20214893        mid_S    mid_S_12     chr8     80    103      1
20214894        mid_S    mid_S_12     chr8     22     77      1
20214895        mid_S    mid_S_12     chr8     74     91      1

[20214896 rows x 6 columns]

In [47]:
out_path = "Nagano_Aggregated.csv"
df_agg.to_csv(out_path, index=False)

print(f"Saved aggregated dataset to {out_path}")

Saved aggregated dataset to Nagano_Aggregated.csv